ul {
    list-style: none;
}
ul li {
    float:left; margin: 0 5px; padding: 3px 2px;
}
ul li ul {
    display: grid;
}
.courses {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}

div {
    margin: auto;
    width: 80%;
    border: 3px solid rgb(68, 68, 73);
    padding: 10px;
    text-align: center;
}

.outer {
    margin: auto;
    width: 80%;
    border: 0px solid rgb(68, 68, 73);
    padding: 10px;
}